body {
	display: flex;
	flex-direction: column;
	align-items: center;
  height: 100vh;
	font-family: 'Open Sans', sans-serif;
	background: radial-gradient(ellipse at center, #37474F 0, #0e0e0e 100%);
	color: #fafafa;
}
.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
}
h1 {
	font-size: 40px;
}
h1,
.maintenance-description {
	font-family: "Bad Script", cursive;
}
h2 {
	padding: 3.125em 0;
	font-weight: 700;
	font-style: italic;
}
p {
	max-width: 43.750em;
}
.maintenance-description {
	text-align: center;
	font-size: 1.5rem;
}
i {
  color: #607D8B;
}
.btn-big {
	width: 250px;
	height: 50vh;
	display: flex;
}
.btn {
	margin: 0 auto 30px;
	display: block;
}
button {
	font-size: 18px;
	font-family: "Bad Script", cursive;
	color: #fff;
	background: #337ab7;
	border: none;
	-webkit-transition: all .7s ease;
	transition: all .7s ease;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	position: relative;
	letter-spacing: 0.1em;
	font-weight: 400;
	padding: 1rem 3rem 1rem 3rem;
	width: 250px;
	height: 60px;
}
button:before,
button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 3px;
	background: #337ab7;
	transition: all .4s ease;
}
button:after {
	top: inherit;
	left: inherit;
	bottom: 0;
	right: 0;
}
button:hover {
	background: transparent;
	color: #fff;
}
button:hover:before,
button:hover:after {
	-webkit-transition: all .7s ease;
	transition: all .7s ease;
	width: 100%;
}
blockquote {
	/*border-left: 10px solid #ccc;*/
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote p, blockquote span {
	padding: 0.938em 0;
}
#btn-tweet {
	padding-left: 1.563em;
	cursor: pointer;
	color: #4099ff;
}
#btn-tweet:hover {
	color: #0065d9;
}
.load {
	padding: 6.250em 0;
}
footer {
	padding: 0.938em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer a {
	text-decoration: none;
	color: #337ab7;
}
footer a:hover {
	color: #0065d9;
}

.fa-spin-back {
  -moz-animation: fa-spin 2s infinite linear reverse;
  -o-animation: fa-spin 2s infinite linear reverse;
  -webkit-animation: fa-spin 2s infinite linear reverse;
  animation: fa-spin 2s infinite linear reverse;
}
